.header {
  border: 1px solid #000;
  height: 70px;
  padding-left: 20px;
}

.left-section {
  width: 30%;
  border: 1px solid #f00;
  display: inline-block;
  height: calc(100vh - 80px);
  overflow: auto;
}

.right-side {
  padding: 0 20px;
  width: 66%;
  display: inline-block;
  vertical-align: top;
}

.label-head {
  font-weight: bold;
  display: inline-block;
}

.display-value {
  display: inline-block;
}




.searchInput{
    border: 1px solid #000;
    height: 30px;
    border-radius: 3px;
    margin: 10px 0 0 20px;
    width: 60%;
    padding: 0 10px;
}

.create-button{
    float: right;
    margin: 10px;
}

.button{
  border: 1px solid #000;
}

.ml-20{
  margin-left: 20px;
}

.add-button{
  display: inline-block;
  margin:0 0 25px 0;
}

.add-button:hover{
  cursor: pointer;
  color: blue;
}
