.header {
  border: 1px solid #000;
  height: 70px;
  padding-left: 20px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.body-section {
  margin-top: 70px;
  overflow: auto;
  height: calc(100vh - 70px);
}

.left-section {
  width: 30%;
  border: 1px solid #f00;
  overflow: auto;
  position: fixed;
  top: 72px;
  bottom: 0;
  overflow: hidden;
}

.right-side {
  padding: 0 20px;
  display: inline-block;
  vertical-align: top;
  margin-left: 30%;
  margin-bottom: 30px;
}

.button {
  border: 1px solid #000;
}


.add-button {
  display: inline-block;
  margin: 0 0 25px 0;
}

.add-button:hover {
  cursor: pointer;
  color: blue;
}
