<div class="header">
  <h2>Contacts App</h2>
</div>

<div class="body-section">
  <div class="left-section">
    <app-contact-list [showList]="showList" (contactSelected)="contactSelected($event)"
      (searchList)="searchContacts($event)" (addContact)="addContact()"></app-contact-list>
  </div>
  
  <div class="right-side">
    <div *ngIf="pageMode === 'display'">
      <app-contact-view [displayContact]="displayContact" (editValues)="loadValues($event)"
        (changeFavourite)="addtoFavourite($event)" (deleteContact)="delete()"></app-contact-view>
    </div>

    <div *ngIf="pageMode === 'add' || pageMode === 'edit'">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <h2>Contact Form</h2>

        <div>
          <mat-form-field appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput type="text" id="firstname" formControlName="firstName" name="firstname">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput type="text" id="lastname" formControlName="lastName" name="lastname">
          </mat-form-field>
        </div>

        <div>
          <label for="contacts">Add Numbers </label>

          <div formArrayName="contacts" *ngFor="let item of contactForm.get('contacts')['controls']; let i = index;">
            <div [formGroupName]="i">
              <mat-form-field appearance="fill">
                <input matInput formControlName="type" placeholder="Enter Type">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <input matInput type="number" maxlength="10" formControlName="number" placeholder="Enter Number">
              </mat-form-field>
            </div>
          </div>
          <p class="add-button" (click)="addContactField()">Add More Numbers</p>
        </div>
        <div>
          <button mat-button class="button" color="primary" type="submit">Submit</button>
        </div>

      </form>

    </div>
  </div>
</div>
